.Task {
    display: flex;
    flex-flow: row;
    align-items:center;
    /* padding: 10px; */
    width: 92%;
    /* border-width: 4px;
    border-radius: 4px;
    border-style: solid; */
    border-color: var(--theme-foreground);
    margin-bottom: 5px;
  }


div:empty { display: none }

.Boxed {
    padding: 5px;
    border-radius: 5px;
    list-style-type: none;
}

.Subject{
    float: left;
}

.Project {
    background-color: var(--project);
    float: left;
    margin: 10px;
}

.Context {
    background-color: var(--context);
    float: left;
    margin: 10px;
}

.Hashtag {
    background-color: var(--hashtag);
    float: left;
    margin: 10px;
}

.Dates {
    display: flex;
    flex-flow: row;
    /* margin-left: auto; */
}