.Task {
    display: flex;
    flex-flow: row;
    align-items:center;
    /* width: 92%; */
    margin-right: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--theme-dimmed);
  }

.true {
    color: var(--theme-text-notselected);
}


div:empty { display: none }

.Boxed {
    padding: 5px;
    border-radius: 5px;
    list-style-type: none;
}

.Subject{
    float: left;
}

.Project {
    background-color: var(--project);
    float: left;
    margin: 10px;
}

.Context {
    background-color: var(--context);
    float: left;
    margin: 10px;
}

.Hashtag {
    background-color: var(--hashtag);
    float: left;
    margin: 10px;
}

.Tag {
    background-color: var(--tag);
    float: left;
    margin: 10px;
}

.Dates {
    display: flex;
    flex-flow: row;
    /* margin-left: auto; */
}