.Task {
    display: flex;
    flex-flow: row;
    align-items:center;
    /* width: 92%; */
    margin-right: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--theme-dimmed);
  }

.true {
    color: var(--theme-text-notselected);
    opacity: 50%;
}


div:empty { display: none }
