.light {
  --theme-background: #FFFFFF; /* Main Background */
  --theme-text: #4A4A4A; /* text */
  --theme-text-notselected: #A5A5A5; /* not selected text*/ 
  --theme-text-clickable: #4273DD; /* clickable text */
  --theme-margin: #F0F0F0; /* Navbar background */
  --theme-foreground: #EBEBEB; /* sidebar foreground */
  --theme-modal: #FFFFFF; /* Modal */
  /* dulled? BFBFBF */
}

/* https://coolors.co/006466-065a60-0b525b-144552-1b3a4b-212f45-272640-312244-3e1f47-4d194d */
.dark {
  --theme-background: #212224; /* Main Background */
  --theme-text: #ffffff; /* text */
  --theme-text-notselected: #6C6C6C; /* not selected text*/ 
  --theme-text-clickable: #F0F0F0; /* clickable text */
  --theme-margin: #2d2d2d; /* Navbar background */
  --theme-foreground: #5a5a5a; /* sidebar foreground */
  --theme-modal: #3B3B3B; /* Modal */
}
