.light {
  --theme-background: #FFFFFF; /* Main Background */
  --theme-dimmed : #A5A5A5; /* not selected text*/ 
  --theme-text: #4A4A4A; /* text */
  --theme-text-notselected: #A5A5A5; /* not selected text*/ 
  --theme-text-clickable: #4273DD; /* clickable text */
  --theme-margin: #F0F0F0; /* Navbar background */
  --theme-hover: #C8C8C8; /* custom */
  --theme-foreground: #EBEBEB; /* sidebar foreground */
  --theme-modal: #FFFFFF; /* Modal */
  /* dulled? BFBFBF */
}

/* https://coolors.co/006466-065a60-0b525b-144552-1b3a4b-212f45-272640-312244-3e1f47-4d194d */
.dark {
  --theme-background: #212224; /* Main Background */
  --theme-dimmed: #6C6C6C; /* not selected text*/ 
  --theme-text: #ffffff; /* text */
  --theme-text-notselected: #6C6C6C; /* not selected text*/ 
  --theme-text-clickable: #F0F0F0; /* clickable text */
  --theme-margin: #2d2d2d; /* Navbar background */
  --theme-hover: #3C3C3C; /* custom */
  --theme-foreground: #5a5a5a; /* sidebar foreground */
  --theme-modal: #3B3B3B; /* Modal */
}

/* Unity colours */
:root {
  --project: #6b2770;
  --context: #2b6251;
  --hashtag: #12c8ed;
}

.A {
  --prio-border: #f94144ff;
}
.B {
  --prio-border: #f3722cff;
}
.C {
  --prio-border: #f9844aff;
}
.D {
  --prio-border: #f9c74fff;
}
.E {
  --prio-border: #f9c74fff;
}
.F {
  --prio-border: #90be6dff;
}
.G {
  --prio-border: #43aa8bff;
}
.H {
  --prio-border: #4d908eff;
}
.I {
  --prio-border: #577590ff;
}
.J {
  --prio-border: #277da1ff;
}

.None {
  --prio-border: #c0c0c0;
}
