/* https://medium.com/swlh/setting-up-light-and-dark-mode-in-a-react-application-just-with-styles-7790dea22aed */

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

.Row {
  display: table;
  width: 100%; /*Optional*/
}
.Column {
  display: table-cell;
}

/* body {
  margin: 0;
  padding: 0;
} */



